/* .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  } 
    .source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

  body {
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  header {
   
    background-color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
  }

  .nav {
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
  }

  .list {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-li {
    list-style: none;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 16px;
  }
  a {
    color: black; 
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
    color: orange;
  }


  main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-family: "Poppins", sans-serif;
    font-size: 90px;
    font-weight: 500;
  }
  p {
    font-size: 22px;
    width: 574px;
  }
 
  .content{
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
 /* .img {object-fit: contain;
  width: 100%;} Gör så att bilden ändrar storlek efter skärm. This command is much more simple */

  /* @media screen and (max-width: 800px) {
    .img {
        background-image: url('../img/Imagetablet.jpg');
    }
}  Fråga Michelle varför detta inte funkar */


  @media screen and (max-width: 828px){
    .heading {
        font-size: 72px;
    }
  }
  @media screen and (max-width: 660px){
    .heading {
        font-size: 65px;
    }
    p {
      font-size: 20px;
      width: 400px;
  }
  }
  @media screen and (max-width: 600px){
    .heading {
        font-size: 60px;
    }
    p {
      font-size: 18px;
      width: 375px;
  }
  }
  @media screen and (max-width: 530px){
    .heading {
        font-size: 55px;
    }
    p {
      font-size: 17px;
      width: 350px;
  }
  }
  @media screen and (max-width: 448px){
    .heading {
        font-size: 50px;
    }  
    p {
      font-size: 16px;
      width: 325px;
  }       
  }
   
  @media screen and (max-width: 390px){
    .heading {
        font-size: 42px;
    }  
    p {
      font-size: 14px;
      width: 300px;
  }       
  }
  @media screen and (max-width: 340px){
    .heading {
        font-size: 37px;
    }  
    p {
      font-size: 13px;
      width: 275px;
  }       
  }
  @media screen and (max-width: 320px){
    .heading {
        font-size: 36px;
    }  
    p {
      font-size: 12px;
      width: 250px;
  }       
  }

 

