/* .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  } 
    .source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

  body {
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  header {
    width: 100%;
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    display: flex;
    justify-content: left;    
  }

  .nav {
    width:600px;
    font-family: "Source Sans 3", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
  }

  .list {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-li {
    list-style: none;
    font-family: "Source Sans 3", sans-serif;
    color: black;
    font-size: 16px;
  }
  a {
    color: black; 
    text-decoration: none;
  }
  a:visited {
    color: pink;
  }
  a:hover {
    cursor: pointer;
    border: 1px solid black;
  }